.pictures-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.haunt-name {

}
.haunt-dets-div {
    
}
.haunt-details {

}

.haunt-details-page {

}

.delete-picture-btn {

}

.edit-delete-spot-btn {
    display: flex;
    justify-content: space-between;
    padding: 3% 3%;
}

.haunt-pictures {
    width: 40%;
    padding: 3% 3%;
}

.haunt-picture {

}
