p {
    margin: 10% 0 0 0;
}

.new-haunt-btn {

}

.spots-page {
    display: flex;
    flex-wrap: wrap;
}

.spots-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spot-divs {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.spots-titles {
    font-size: larger;
}

.spots-image {
    width: 40vw;
    height: 65vh;
}

.spots-details {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.spots-city {
    display: flex;
    flex-direction: column;
}

.spots-price {
    
}
