p {
    margin: 10% 0 0 0;
}

.new-haunt-btn {

}



.spots-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.spots-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spot-divs {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 2%;
}

div > p {
    font-weight: bold;
    font-size: larger;
}

#root {
    background-color: rgb(93, 138, 90);
}

.spots-titles {
    font-size: larger;
}

.spots-image {
    width: 40vw;
    height: 65vh;
}

.spots-details {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.spots-city-div {
    display: flex;
    flex-direction: column;
}

.spots-city {
    text-decoration: underline;
}

.spots-price {
    color: midnightblue;
}
