.nav-bar {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
    border: 2px solid grey;
    background-color: rgba(0, 0, 0.6);
}
.nav-bar > * {
    display: flex;
    align-items: center;
}

.app-nav {
    width: 15%;
    color: lightgreen;
    font-size: larger;
}
.nav-icon {
    font-size: x-large;
}
.fas {
    color: orange;
}
.home-nav {
    text-decoration: none;
    margin-left: 5%;
    color: orange;
}

.search-label {
    width: 40%;
}
.search-bar {
    width: 100%;
    height: 50%;
}

.user-btns-div {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.user-btns-div > button {
    background-color: orange;
  }
.user-btns {
    width: 30%;
}


.profile-btn {
    height: 70%;
    width: 25%;
    justify-content: center;
    font-size: larger;
    color: lightgreen;
    background-color: darkslategray;
}

.dropdown {
    position: absolute;
    flex-direction: column;
    top: 8%;
    right: 1%;
    font-size: small;
}
.dropdown > * {
    border: 2px solid lightgray;
    background-color: darkslategrey;
    color: orange;
}
