.delete-haunt-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.delete-haunt-message {

}

.delete-haunt-form-btn {
    width: 30%;
    background-color: red;
    color: white;
}

#delete-haunt-sizing-id {
    width: 35vw;
    height: 50vh;
}
